<mat-card>
<h1>{{btnTitulo}}</h1>

<form [formGroup]="usuarioForm" (submit)="CadastrarUsuario()" #formDit="ngForm">

    <input type="hidden" formControlName="id">
    
    <div class="input-box">
        <mat-form-field>
          <mat-label>Nome:</mat-label>
          <input matInput id="nome" type="text" class="form-control text-dark" formControlName="nome" placeholder="Insira o nome!" required>
        </mat-form-field>
      </div>
    
      <div  class="input-box">
        <mat-form-field>
          <mat-label>Identificação:</mat-label>
             <input matInput id="sobrenome" type="text" class="form-control  text-dark" formControlName="sobrenome" placeholder="Insira o sobrenome!" required>
         </mat-form-field>
      </div>
    
      <div  class="input-box">
      <mat-form-field>
        <mat-label>Opções de Produto:</mat-label>
        <mat-select id="departamento" class="form-select "  formControlName="departamento" required>
          <mat-option value="RH">Fones de ouvido sem fio</mat-option>
          <mat-option value="Financeiro">Garrafas reutilizáveis de aço inoxidável</mat-option>
          <mat-option value="Compras">Carregadores portáteis (power banks)</mat-option>
          <mat-option value="Atendimento">Tapetes de ioga ecológicos</mat-option>
          <mat-option value="Zeladoria">Kits de talheres e canudos reutilizáveis</mat-option>
        </mat-select>
      </mat-form-field>
    
      </div>
      <mat-form-field>
        <mat-label>Situação</mat-label>
        <mat-select id="turno" class="form-select"  formControlName="turno" required>
          <mat-option value="Manha">Ativo</mat-option>
          <mat-option value="Tarde">Desativado</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="btn_box">
        <button type="submit"  class="btn btn-success w-50" [disabled]="!usuarioForm.valid" mat-raised-button color="primary">{{btnAcao}}</button>
        <button [routerLink]="['']" class="btn btn-success w-50" routerLinkActive="router-link-active"  mat-raised-button>Voltar</button>
    </div>
</form>
</mat-card>
