<div class="usuario-box">
    <button [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastrar novo funcionário</button>
    <div class="input-box">
        <label>Procurar</label>
        <input type="text" placeholder="Qual Usuário você está buscando?" (input)="SearchUsuario($event)">
    </div>
</div>

<table>
    <thead>
        <tr></tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Departamento</th>
        <th></th>
        <th></th>
    </thead>
    <tbody *ngFor="let usuarios of Listausuarios">
        <tr>
            <td>
                <div *ngIf="usuarios.ativo == true; else inativo">
                    <img src="assets/images/Ativo.png" style="height: 20px; width: 20px;">
                </div>

                <ng-template #inativo>
                    <img src="assets/images/Inativo.png" style="height: 20px; width: 20px;">
                </ng-template>

            </td>
            <td>{{usuarios.nome}}</td>
            <td>{{usuarios.sobrenome}}</td>
            <td>{{usuarios.departamento}}</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
</table>