<mat-card>
<div>
    <h1>Detalhes do Pedido</h1>
</div>

<div *ngIf="usuario">
    <form action="">
        <mat-form-field>
        <div class="input_box">
            <mat-label>Nome:</mat-label>
            <input matInput type="text" class="form-control text-dark" value="{{usuario.nome}}" disabled>
        </div>
    </mat-form-field>
  
      
      <div  class="input_box">
        <mat-form-field>
          <mat-label>Identificação:</mat-label>
          <input matInput type="text" class="form-control  text-dark" value="{{usuario.sobrenome}}" disabled>
          </mat-form-field>
      </div>
      
      <div  class="input_box">
        <mat-form-field>
          <mat-label>Item:</mat-label>
          <input matInput type="text" class="form-control  text-dark" id="Livro" value="{{usuario.departamento}}" disabled>
          </mat-form-field>
      </div>
      
      <div  class="input_box">
        <mat-form-field>
          <mat-label>Situação:</mat-label>
          <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{usuario.turno}}" disabled>
          </mat-form-field>
      </div>

      
      
      <div  class="input_box">
        <mat-form-field>
          <mat-label>Data de Criação:</mat-label>
          <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{usuario.dataDeCriacao}}" disabled>
          </mat-form-field>
      </div>
      
      <div  class="input_box">
        <mat-form-field>
          <mat-label>Data de Alteração:</mat-label>
          <input matInput type="text" class="form-control  text-dark" asp-for="LivroEmprestado" id="Livro" value="{{usuario.dataDeAlteracao}}" disabled>
          </mat-form-field>
      </div>
      <div class="btn-box">
        <button [routerLink]="['']" mat-raised-button color="warn">Voltar</button>
    </div>
    </form>
</div>

</mat-card>